<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
    <script src="TodoApp.js"></script>
    <script src="TodoApp.listService.js"></script>
    <script src="TodoApp.statesController.js"></script>
    <script src="TodoApp.ListComponent.js"></script>
    <link type="text/css" href="main.css" rel="stylesheet">
</head>
<body>

    <div class = "container" ng-app="TodoApp">
        <h1 class = "title">ToDo App</h1>
        <div ng-controller="statesController">

            <input ng-model="newListName">
            <button ng-click="addList(newListName)">Add New List</button>
            <div class = "lists">
                <a ng-repeat="list in lists track by $index" ui-sref="lists({listName: list})" class = "tab">{{ list }}</a>
            </div>

        </div>
        <div ui-view>

        </div>
    </div>
</body>
</html>