<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="main.js"></script>
    <script src="stateAdder.js"></script>
    <script src="listService.js"></script>
    <script src="listComponent.js"></script>
    <link type="text/css" href="main.css" rel="stylesheet">
</head>
<body>
    <div  ng-app="TodoApp">
        <div ng-controller="statesController">

            <input ng-model="newListName">
            <button ng-click="newList(newListName)">Add</button>
            <a ng-repeat="list in lists" ui-sref="{{ list }}">{{ list }}</a>

        </div>
        <div ui-view>

        </div>
    </div>
</body>
</html>